@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --background-color: #1f3757;
  --color-white: #ffffff;
  --border-color-score: #f3f3f3;
  --slate-purple: #565468;
}

body {
  background-color: var(--background-color);
}

/* table score */

.table-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 4px solid;
  color: var(--slate-purple);
  padding: 12px;
}

@media (min-width: 1024px) {
  .table-score-container {
    width: 700px;
  }
}

.table-score {
  background-color: var(--color-white);
  border: 4px solid;
  border-color: var(--border-color-score);
  border-radius: 4px;
  width: 80px;
  padding: 10px;
}

.table-score h4 {
  margin: 0px;
  font-size: 12px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #2a45c2;
  letter-spacing: 1.56px;
  font-weight: 700;
}

.table-score p {
  margin: 0px;
  font-size: 40px;
  width: 40px;
  color: var(--slate-purple);
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}

.button-section {
  position: relative;
  z-index: 2;
  margin-top: 102px;
}

.button-section button {
  background-color: transparent;
}

.button-section img {
  width: 130px;
}

.the-first-two-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.triangle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 166px;
  margin-top: 90px;
}

@media (min-width: 1024px) {
  .button-section {
    width: 476px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .button-section img {
    width: 198px;
  }

  .triangle {
    max-width: 254px;
  }
}

/* Selected image and result */

.selected-option-image {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;
}

.selected-option-image img {
  width: 120px;
}

.selected-option-image h3 {
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 1.7px;
}

.final-message h3 {
  font-size: 56px;
  color: var(--color-white);
  margin-bottom: 0px;
}

.final-message button {
  width: 230px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2.5px;
}

@media (min-width: 1024px) {
  .option-card {
    display: flex;
    flex-direction: column-reverse;
  }

  .selected-option-image {
    justify-content: space-between;
    margin-top: 50px;
  }

  .selected-option-image img {
    width: 200px;
    margin-top: 20px;
  }

  .selected-option-image h3 {
    font-size: 24px;
  }

  .final-message {
    margin-top: -250px;
  }
}

/* Rules */

.rules-button {
  margin-top: 40px;
  background-color: transparent;
  border: 1px solid white;
  color: var(--color-white);
  font-size: 16px;
  letter-spacing: 2.5px;
  width: 128px;
}

@media (min-width: 1024px) {
  .rules-button-card {
    display: flex;
    justify-content: end;
    margin-top: -50px;
  }
}

.rules-card h2 {
  font-size: 32px;
  color: var(--color-white);
  font-weight: 500;
}

.rules-card img {
  margin-top: 50px;
}

.exit-rules-button {
  margin-top: 80px;
  background-color: transparent;
  font-size: 40px;
  color: var(--color-white);
}
